.invoicePreview {
  width: 800px;
  margin: 0 auto;
  padding: 10px 20px;

  .invoicePreview__header {
    display: flex;
    justify-content: space-between;

    .invoicePreview__title {
      font-size: 1.5rem;
    }

    .invoicePreview__invoiceInfo {
      display: flex;
      flex-direction: column;
      text-align: right;

      &-text {
        font-size: 1rem;
      }

      &-number {
        font-size: 0.75rem;
      }
    }
  }

  .invoicePreview__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;

    > div {
      padding: 5px;
    }

    .invoicePreview__info-seller {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      
      .invoicePreview__info-seller-header {
        margin-bottom: 4px;
      }

      .invoicePreview__info-seller-grid {
        display: flex;
        font-weight: normal;

        span {
          width: 76px;
          min-width: 76px;
        }

        p {
          font-weight: bold;

          &::before {
            content: ": ";
          }
        }
      }
    }

    .invoicePreview__info-buyer {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      
      .invoicePreview__info-buyer-header {
        margin-bottom: 4px;
      }
  
      .invoicePreview__info-buyer-grid {
        display: flex;
        font-weight: normal;
  
        span {
          width: 115px;
          min-width: 115px;
        }
  
        p {
          font-weight: bold;

          &::before {
            content: ": ";
          }
        }

        .buyer-info {
          width: 100%;

          .buyer-info-phone {
            font-weight: normal;
          }
        }

        .address {
          font-weight: normal;

          &::before {
            content: "";
          }
        }
      }
    }
  }

  .priceBreakdown {
    margin-left: auto;
    width: 48%;
    padding-right: 16px;
    

    > div {
      display: flex;
      justify-content: space-between;
      
      &:first-child {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &:not(:first-child) {
        padding: 8px 0;
      }
    }

    .totalItems, .totalSpending, .totalBill {
      font-weight: bold;
    }

    .deliveryFeeBreakdown {
      display: flex;
      flex-direction: column;
      padding: 0;

      > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: 100%;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    .promo-typeOne {
      display: inline-block;
      width: 100%;

      .promoLabel {
        display: inline-flex;
        font-weight: bold;
        background-color: rgba(#ee4d2d, 0.3);
        color: var(--primary-color);
        padding: 2px 4px;
      }

      .promoDescription {
        display: flex;
        justify-content: space-between;
        margin: 3px 0 8px 0;
      }
    }

    .promo-typeTwo {
      display: flex;

      .promoCompany {
        background-color: rgba(#ee4d2d, 0.3);
        color: var(--primary-color);
        padding: 2px 4px;
        font-weight: bold;
        display: inline;
      }

      .promoLabel-name {
        margin: 3px 0 8px 0;
      }

      .promoValue {
        text-align: right;
      }
    }
  }

  .deliveryInfo {
    display: flex;
    margin-bottom: 12px;

    .title-description {
      font-size: 0.75rem;
      color: rgba(49,53,59,0.68);
    }

    > div > p {
      margin-bottom: 8px;
    }

    .courierInfo {
      width: 52%;
    }

    .paymentMethod {
      width: 48%;
    }
  }
}