.login {
  width: min(400px,  100%);
  margin: 0 auto;

  .login__header, .login__subHeader {
    text-align: center;
    margin-bottom: 5px;
  }

  .login__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 400px) {
  .login {
    padding: 0 5px;

    .login__form {
      border: none;
      padding: 0;
    }
  }
}